.sidebar {
	grid-column: sidebar-start / sidebar-end;
	grid-row: 1 / -1;
	background-color: $color-primary;

	display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: flex-end;
        align-items: center;
	}
	
	i {
		font-size: 4rem;
		margin: 1.5rem;
		color: $color-secondary;
	}
}